In [1]:
# !pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\alumne_tarda1\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\alumne_tarda1\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Una vez instalado pandas. Se basa en los arrays de numpy, como si tuvieramos un array de 1 sóla dimensión.

## La clase Series
se parece a las arrays de numpy y nos deja tener etiquetas en los ejes

El tipo de dato esencial de **Pandas** son las **Series**, una clase similar a los arrays de **Numpy**, y la diferencia es que las **Series** pueden contener etiquetas en los ejes.

In [3]:
import numpy as np
import pandas as pd

## Creación de series
### Con Listas

In [13]:
# Creamos las etiquetas 
etiquetas = ['A', 'B', 'C', 'D']
lista = [25,50,75,100]

#Creamos una serie bássica
#instanciamos la clase series
pd.Series(data=lista, index= etiquetas) # en el index podemos poner el indice. argumento por asignación

A     25
B     50
C     75
D    100
dtype: int64

In [11]:
# Pasando parámetros por posición
pd.Series(lista, etiquetas)

A     25
B     50
C     75
D    100
dtype: int64

### Con arrays

In [18]:
array = np.random.randint(50, size=4)
print(array)

[38 14 27 11]

In [20]:
# Serie básica del arra anterior
pd.Series(array)

0    38
1    14
2    27
3    11
dtype: int32

In [22]:
# Serie con array y etiquetas
pd.Series(array, etiquetas)

A    38
B    14
C    27
D    11
dtype: int32

### Con diccionarios

In [26]:
diccionario ={
    'A': 25,
    'B': 50,
    'C': 75,
    'D': 100    
}
#Series con etiquetas
pd.Series(diccionario)

A     25
B     50
C     75
D    100
dtype: int64

## Índices

In [30]:
ingresos = pd.Series([100,200,300], index= ['enero', 'febrero', 'marzo'])
print(ingresos)

enero      100
febrero    200
marzo      300
dtype: int64

In [32]:
# accedemos al mes de enero por el índice
ingresos.iloc[0]

100

In [38]:
# accedemos por el nombre de etiqueta (mucho más cómodo)
ingresos['enero']

100

## Métodos de las series

In [48]:
# recuerda que mismo indice para poder operar con él
gastos = pd.Series({
    'enero': 100,
    'febrero': 150,
    'marzo': 250
})
gastos

enero      100
febrero    150
marzo      250
dtype: int64

In [50]:
total = ingresos.subtract(gastos)
print(total)

enero       0
febrero    50
marzo      50
dtype: int64

In [54]:
ingresos - gastos

enero       0
febrero    50
marzo      50
dtype: int64

In [56]:
# para saber Tipo de dato de una serie
type(total) # es una instancia de panda de la clase series

pandas.core.series.Series